body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
}

body > * {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#highlight {
    color: #F02D3A;
}

.content {
    display: flex;
    background-color: #273043;
    box-sizing: border-box;
    height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}