body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
}

body > * {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-info {
    display: flex;
    flex-direction: column;
    background-color: #273043;
    box-sizing: border-box;
    height: 75vh;
    justify-content: space-around;
}

.info-card-container {
    display: flex;
    gap: 2rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card canvas {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

.info-description {
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.info-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
    color: white;
}

#canada-percent-chart,
#canada-causes-chart,
#canada-improvement-chart {
  width: 300px !important;
  height: 300px !important;
}

.content-tools {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 65vh;
    justify-content: left;
}

.tools-title {
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
    color: #273043;
}

.tools-card-container {
    padding-top: 40px;
    display: flex;
    gap: 2rem;
    height: 50vh;
}

.tools-card {
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: filter .5s;
    padding: 2rem;
    border: 3px solid #273043;
    border-radius: 2rem;
}

.tools-card-name {
    margin-bottom: 2rem;
    font-size: 2rem;
    color:#F02D3A;
}

.tools-card-desc {
    font-size: 1.5rem;
    color: #273043;
}

.tools-card:hover{
  filter: brightness(0.85);
}