body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
}

body > * {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    height: calc(10vh);
    position: sticky;
}

.header-logo {
    margin-right: auto;
    font-weight: bolder;
    color: #F02D3A;
    font-size: 2rem;
}

.header-link {
    margin-left: 20px;
    color: #9197AE;
    font-size: 1.25rem;
}

.content-info {
    display: flex;
    flex-direction: column;
    background-color: #273043;
    box-sizing: border-box;
    height: 75vh;
    justify-content: space-around;
}

.info-card-container {
    display: flex;
    gap: 2rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card canvas {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

.info-description {
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.info-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
    color: white;
}

#canada-percent-chart,
#canada-causes-chart,
#canada-improvement-chart {
  width: 300px !important;
  height: 300px !important;
}